@model DbViewModel

@{
    ViewData["Title"] = "Тестовое задание";
}

<ul>
</ul>
@{
    int count = 1;
}
<h3>Тестовое задание:</h3>
<hr/>
<div>Для изменения количества записей в таблице нужно поменять в модели Db </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in Model.Users){
        <tr>
        <th scope="row">@count</th>
        <td>@user.firstName</td>
        <td>@user.lastName</td>
        </tr>
    }
  </tbody>
</table>

<table id="Users" data-toggle="table">
    <thead>
    <tr>
        <th data-field="id">Id</th>
        <th data-field="firstName">First Name</th>
        <th data-field="lastName">Last Name</th>
    </tr>
    </thead>
</table>
<ul class="pagination">
    @for(int i = 1;i <= @Model.pageCount;i++){
        <li><a href="#" onclick="getPage('/Api?page=@i')">@i</a></li>
    }
</ul>
